header {
  justify-content: center;
  display: flex;
  background: white;
  max-height: 80px;
  box-shadow: 0 2px 6px #00000840;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
